name: RMD Auto Master PR

on:
  pull_request:
    types:
      - opened
    branches:
      - 'qa'

jobs:
  openMasterPR:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          fetch-depth: 0
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: update authors
          title: master | ${{ github.event.pull_request.title }}
          body: Credit new contributors by updating AUTHORS
          branch: main
