name: RMD Pull Request Normalizer

on:
  pull_request:
    types:
      - opened
    branches:
      - 'qa'

jobs:
  normalizePullRequests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ github.event.pull_request.head.ref }}
          regex: '\w+-\d+'
      - name: Update Title
        uses: juztcode/pr-updater@1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: qa|${{ steps.regex-match.outputs.match }} ${{ github.event.pull_request.title }}
          body: |
            [Jira](https://rubiconmd.atlassian.net/browse/${{ steps.regex-match.outputs.match }})

            ${{ github.event.pull_request.body }}
      - uses: kentaro-m/auto-assign-action@v1.2.4
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: Needs Review
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - name: Create Pull Request
        uses: devops-infra/action-pull-request@v0.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          title: master|${{ steps.regex-match.outputs.match }} ${{ github.event.pull_request.title }}
          body: |
            [Jira](https://rubiconmd.atlassian.net/browse/${{ steps.regex-match.outputs.match }})

            **Related PRs:**
            - ${{github.event.pull_request.html_url}}
          source_branch: ${{ github.event.pull_request.head.ref }}
          target_branch: main
          label: Waiting On QA
          draft: true
          milestone: Next
