name: RMD Auto Master PR

on:
  pull_request:
    types:
      - opened
    branches:
      - 'qa'

jobs:
  openMasterPR:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          fetch-depth: 0
      - uses: bluwy/substitute-string-action@v1
        id: masterTitle
        with:
          _input-text: ${{ github.event.pull_request.title }}
          qa: master
      - name: Generate master PR body
        id: MasterPRBody
        env:
          master_pr_url: ${{github.event.pull_request.html.url}}
        run: |
          echo "::set-output name=BODY_TEXT::[JIRA](https://google.com) <br><br> _QA PR_ <br> $master_pr_url"
      - name: Create Pull Request
        uses: devops-infra/action-pull-request@v0.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          title: ${{ steps.masterTitle.outputs.result }}
          body: ${{steps.MasterPRBody.outputs.BODY_TEXT}}
          source_branch: ${{github.event.pull_request.head.ref}}
          target_branch: main
          label: Waiting On QA
          assignee: ${{github.event.sender.login}}

