name: RMD Auto Master PR

on:
  pull_request:
    types:
      - opened
    branches:
      - 'qa'

jobs:
  openMasterPR:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          fetch-depth: 0
      - uses: bluwy/substitute-string-action@v1
        id: masterTitle
        with:
          _input-text: ${{ github.event.pull_request.title }}
          qa: master
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ github.event.pull_request.body }}
          regex: '\[(Jira|jira|JIRA)\]\(.[^)]*\)'
      - name: Create Pull Request
        uses: devops-infra/action-pull-request@v0.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          title: ${{ steps.masterTitle.outputs.result }}
          body: |
            ${{ steps.regex-match.outputs.match }}

            _QA PR_
            ${{github.event.pull_request.html_url}}
          source_branch: ${{github.event.pull_request.head.ref}}
          target_branch: main
          label: Waiting On QA
          assignee: ${{github.event.sender.login}}
          milestone: Next
