name: RMD Auto Master PR

on:
  pull_request_target:
    types:
      - opened
    branches:
      - 'qa'
      
jobs:
  openMasterPR:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: update authors
          title: github.event.pull_request.title
          body: Credit new contributors by updating AUTHORS
          branch: main
