name: RMD Master Pull Request Normalizer

on:
  pull_request:
    types:
      - opened
    branches:
      - 'main'

jobs:
  normalizeMasterPullRequests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ github.event.pull_request.head.ref }}
          regex: '\w+-\d+'
      - name: Find Pull Request
        uses: juliangruber/find-pull-request-action@v1
        id: find-pull-request
        with:
          branch: ${{ github.event.pull_request.head.ref }}
          base: qa
      - uses: kentaro-m/auto-assign-action@v1.2.4
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: Waiting On QA
      - uses: zoispag/action-assign-milestone@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          milestone: 'next'
      - uses: mad9000/actions-find-and-replace-string@2
        id: find-and-replace-title
        if: ${{steps.find-pull-request.outputs}}
        with:
          source: ${{ steps.find-pull-request.outputs.title }}
          find: 'qa|'
          replace: 'master|'
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match-pull-request-code
        with:
          text: ${{ github.event.pull_request.html_url }}
          regex: '*pulls\/\d+'
      - uses: mad9000/actions-find-and-replace-string@2
        id: find-and-replace-url
        if: ${{steps.find-pull-request.outputs}}
        with:
          source: ${{ github.event.pull_request.html_url }}
          find: ${{ steps.regex-match.outputs.match }}
          replace: 'pulls/${{steps.find-pull-request.outputs.number}}'
      - name: Update Pull Request
        uses: juztcode/pr-updater@1.0.0
        if: ${{steps.find-pull-request.outputs}}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: ${{ steps.find-and-replace.outputs.value }}
          body: |
            [Jira](https://rubiconmd.atlassian.net/browse/${{ steps.regex-match.outputs.match }})
            
            **Related PRs:**
            - ${{steps.find-and-replace-url.outputs.value}}
